<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro de Visitas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Guestbook</h1>

        <form action="/agregar" method="POST">
            <input type="text" name="nombre" placeholder="Tu nombre" required><br><br>
            <textarea name="mensaje" placeholder="Tu mensaje" required></textarea><br><br>
            <button type="submit">Enviar</button>
        </form>

        <h2>Mensajes:</h2>
        {% for invitado in invitados %}
            <div class="message">
                <p><strong>{{ invitado.nombre }}</strong>: {{ invitado.mensaje }}</p>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>